blinker
certifi
charset-normalizer
click 
colorama 
contourpy 
cycler
dnspython 
Flask 
fonttools 
idna 
itsdangerous 
Jinja2 
kiwisolver
MarkupSafe
matplotlib 
numpy 
packaging 
pandas 
Pillow 
pip 
pymongo 
pyparsing 
python-dateutil 
pytz 
requests 
setuptools 
six 
tzdata 
urllib3 
Werkzeug 